<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">

    <% if (data && Array.isArray(data) && data.length) { %>
        <ul class="article-ul">
            <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
            <% }) %>
        </ul>
    <%} else { %>
        <p class="empty_list">There's nothing here!</p>
    <% } %>

</section>